# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#KiC  ad
*.kicad_pcb-bak
*-backups/
*.kicad_prl
*.sch-bak
*.kicad_pcb-bak
fp-info-cache

# Stuff
*.txt
*.zip
=======
/libIoHandler.X/build/
