# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#KiCad
*.kicad_pcb-bak
*-backups/
*.kicad_prl
*.sch-bak
*.kicad_pcb-bak
fp-info-cache

#MPlab
*/.generated_files/*
*/dist/*
*/build/*
*/debug/*
/libIOHandler.X/build/
/libIOHandler.X/dist/
/libIOHandler.X/.generated_files
/libUartTx.X/build/
/libUartTx.X/dist/
/libUartTx.X/.generated_files

# Stuff
*.txt
*.zip
updateAvailableLibrariesInTemplate.py
=======
/libUartTx.X/build/
